*.DS_Store
/Fake/FakeAppStore/build/
/Fake/FakeCalculator/build/
/Fake/FakeCalendar/build/
/Fake/FakeCamera/build/
/Fake/FakeClock/build/
/Fake/FakeCompass/build/
/Fake/FakeiPod/build/
/Fake/FakeiTunes/build/
/Fake/FakeMail/build/
/Fake/FakeMaps/build/
/Fake/FakeNotes/build/
/Fake/FakePhone/build/
/Fake/FakeStocks/build/
/Fake/FakeText/build/
/Fake/FakeVoiceMemos/build/
/Fake/FakeWeather/build/
/Fake/FakeYouTube/build/
*.mode1v3
*.pbxuser