*.DS_Store
*.mode1v3
*.pbxuser
*.xcworkspace
xcuserdata
build/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeAppStore/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeWeather/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeVoiceMemos/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeText/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeStocks/
/Fake/SimFinger/SimAppCollection/FakeApps/FakePhone/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeNotes/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeMail/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeiTunes/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeiPod/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeCompass/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeClock/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeCamera/
/Fake/SimFinger/SimAppCollection/FakeApps/FakeCalculator/
